#define( $content_block )
	#if ( ${user} )
		<a href = "${contextPath}/admin/article/add"><img src="${contextPath}/resources/img/ico_add.png"></img></a>
	#end
	#foreach( ${item} in ${items} )
		<div>
<!-- 		!!!!!!!!!!!!!!!!!!!!! TODO	vytvorit absolutni cestu pres parent.slug -->
			<h2><a href="${contextPath}/${locale}/${item.slug}">${item.title}</a></h2>
			#if( $user )
					<a href = "${contextPath}/admin/article/edit?id=${item.id}">Edit</a>
					<a href = "${contextPath}/admin/article/delete?id=${item.id}"><img src="${contextPath}/resources/img/ico_del.png"></img></a>				
			#end
			<p>${item.perex}</p>
		</div>
	#end
#end

#parse("basePublicPage.html")