#define( $form_block )
	#parse("navigationItemForm.html")
	<tr>
		<td>Perex: </td>
		<td>#springFormTextarea("item.perex" '')</td>
	</tr>
	<tr>
		<td>Content: </td>
		<td>#springFormTextarea("item.content" 'class = "tiny_mce"')</td>
	</tr>
#end

#parse("entityEditPage.html")
