#define( $content_block )
	<h1>${item.title}</h1>
	#if( $user )
		<a href = "${contextPath}/admin/article/edit?id=${item.id}">Edit</a>
		<a href = "${contextPath}/admin/article/delete?id=${item.id}"><img src="${contextPath}/resources/img/ico_del.png"></img></a>				
	#end
	<p class="article_perex">
		${item.perex}
	</p>
	<p class="article_body">
		${item.content}
	</p>
#end

#parse("basePublicPage.html")