<div id="category_container">
<div id = "categories">
	#foreach( ${category} in ${categories} )				
		<a href="${contextPath}/${locale}/${category.slug}">${category.title}</a>		
		#if ( ${user} )
			<a href = "${contextPath}/admin/category/delete?id=${category.id}"><img src="${contextPath}/resources/img/ico_del.png"></img></a>
		#end
		#if( $foreach.hasNext )
			<div class = "oddelovac_kategorie"></div>
		#end
	#end
	#if ( ${user} )
		<a href = "${contextPath}/admin/category/add"><img src="${contextPath}/resources/img/ico_add.png"></img></a>
	#end
</div>
<div id = "user_info_container">
	#if ( ${user} )
		<a href = "${contextPath}/j_spring_security_logout">Logout</a>		
	#end
</div>
</div>
