#define( $content_block )
<div>	
	<h1>Edit Item</h1>
	
	<form method = "post" action="">
		<table>
			$form_block
		</table>
		<span><input type="button" value = "Back" onclick="history.go(-1);return true;"><input type="submit" value = "Save"></span>
	</form>	
</div>
#end

#parse("basePublicPage.html")