<div class="footer_line"></div>

<div id="site_links">
	<a href="#">Copyright</a>
	<span style="color: darkblue">::</span>
	<a href="#">Media</a>
	<span style="color: darkblue">::</span>
	<a href="#">Contacts</a>
</div>