<div class="panel_container">
	<div class="menu_header_endpoint mhe_start"></div>
	<div class="menu_header mh_left">
		<h3>Nabídka</h3>
	</div>
	<div class="menu_header_endpoint mhe_end"></div>

	#foreach( ${menuItem} in ${menuItems})
		<a href="./${menuItem.slug}">
			<span class="button">
				<span class="button_endpoint be_start"></span>
				<span class="button_midle">
					<span class="button_midle_text">${menuItem.title}</span>
				</span>
				<span class="button_endpoint be_end"></span>
			</span>
		</a>
	#end
</div>