<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/colours.css"/>
<link rel="stylesheet" type="text/css" href="${contextPath}/resources/css/styl.css"/>

<script type="text/javascript" src="${contextPath}/resources/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">
tinyMCE.init({
        mode : "specific_textareas",
        editor_selector : "tiny_mce"
});
</script>


