<tr>
	<td>Title: </td>
	<td><div>#springFormInput("item.title" "")</div></td>
</tr>
#if($item.id)
	<tr>
		<td>ID: </td>
		<td><div>#springFormInput("item.id" 'disabled="disabled"')</div></td>
	</tr>
	<tr>
		<td>Created: </td>
		<td><div>#springFormInput("item.created" 'disabled="disabled"')</div></td>
	</tr>
#end
<tr>
	<td>Slug: </td>
	<td><div>#springFormInput("item.slug" "")</div></td>
</tr>
<tr>
	<td>Parent node: </td>
	<td>#springFormSingleSelect("item.parent", $allSections)</td>
</tr>
<tr>
	<td>State: </td>
	<td>#springFormSingleSelect("item.state", $state)</td>
</tr>
<tr>
	<td>Visibility: </td>
	<td>#springFormSingleSelect("item.visibility", $visibility)</td>
</tr>