<div class="panel_box">
	<div class="box_header">Navigace</div>
	<div class="box_content">
		#foreach( ${subcategory} in ${subcategories})
			<div>
				<a href="${contextPath}/${locale}/${subcategory.slug}">:: ${subcategory.title}</a>
				#if( $user )
						<a href = "${contextPath}/admin/category/edit?id=${subcategory.id}">Edit</a>
						<a href = "${contextPath}/admin/category/delete?id=${subcategory.id}"><img src="${contextPath}/resources/img/ico_del.png"></img></a>				
				#end
			</div>
		#end
	</div>				
</div>	
