/*
COLOURS
background: 
*/

body 
	{
	background-color: #050046;
	}
	

h1, h2, h3
	{
	/*color: #0000e0;*/
	color: darkblue;
	}
	
p
	{
	color: #515057;
	}
	
#main
	{
	background-color: white;
	}
	
#category_container
	{
	background-color: #0000ba;
	}
	
#categories a
	{
	color: white;
	}
	
#footer_container, #footer_container a, #footer_container p
	{
	background-color: #b4b3c5;
	color: white;
	}
	
.box_header h3
	{
	color: #515057;
	}
