@CHARSET "UTF-8";

body {
	color: white;
}

.framed_input {
	background: none;
	border: 1px white solid;
	padding: 0.5em;
	color: white;
}

.login_checkbox {
	background: none;
}

#login_form {
	width: 300px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}
