body
	{
	background-image: url("../img/background_transition.png");
	background-repeat: repeat-x;
	font-family: sans;
	margin: 0px;
	}
	
#background_sample
	{
	background-image: url("../img/background_sample.png");
	background-repeat: repeat;
	height: 100%;
	padding: 30px;
	}
	
a ../img
	{
	border: none;
	}
	
h1
	{
	font-size: 16pt;
	margin-bottom: 20px;
	}

h2
	{
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 0 0;
	padding-top: 10px
	}

/*nadpisy zahlavi jednotlivych panelu po okrajich*/	
h3
	{
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 0 0;
	}
	
h4
	{
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 0 0;
	}
	
p
	{
	font-size: 11pt;
	font-weight: normal;
	text-align: justify;
	line-height: 150%;
	}

/* seskupuje obsah cele strany krom pozadi */
#main
	{
	width: 1020px;
	/*background-color: white;*/
	margin-left: auto;
	margin-right: auto;
	}

/* kontejner pro hlavicku stranek s logem atd. */
#header_container
	{	
	width: 1000px; 
	height: 66px;
	background-image: url("../img/world.png");
	background-repeat: no-repeat;
	background-position: center;
	/*margin-bottom: 5px;*/
	padding: 15px;
	}
	
#logo
	{
	height: 100px;
	}
	
#main_page
	{
	width: 1020px;
	}
	
#content
	{
	width: 100%;
	background-image: url("../img/main_page_content_background.png");
	float: left;
	}
	
	
#main_page_lower_border
	{
	width: 100%;
	height: 42px;
	background-image: url("../img/main_page_lower_border.png");
	float: left;
	}
	
#category_container
	{
	position: relative;
	width: 96%;
	height: 40px;
	background-image: url("../img/categories.png");
	background-repeat: repeat-x;
	padding: 0% 2% 0% 2%;;
	float: left;
	}	
	
#categories
	{
	position: absolute;
	top: 50%;
	margin-top: -7pt;
	width: 100%;
	}
	
	
#categories a
	{
	font-family: arial;
	font-size: 11pt;
	text-decoration: none;
	font-weight: bold;
	float: left;
	}
	
	
#category_underline
	{
	width: 100%;
	height: 2px;
	float: left;
	background-image: url("../img/footer_background.png");
	background-repeat: repeat-y;
	}	
	
.oddelovac_kategorie
	{
	width: 2px;
	height: 21px;
	float: left;
	background-image: url("../img/oddeleni_kategorie.png");
	background-repeat: repeat-y;
	margin: 0px 15px 0 15px;
	}
	
#language_sel_container
	{
	float: right;
	margin-right: 43px;
	}
	
#user_info_container {
	float: right;
	margin-right: 43px;
}
	
/* SIDE PANELS */
#side_panel_container
	{
	width: 255px;
	float: left;
	}
	
.panel_box
	{
	width: 100%;
	padding: 0 0 0 0;
	float: left;
	}
	
.box_header
	{
	height: 18pt;
	padding-top: 20px;
	text-align: center;
	background-image: url("../img/box_header.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	font-size: 11pt;
	font-weight: bold;
	}
	
.box_content
	{
	width: 215px;
	padding: 20px;
	float: left;
	line-height: 150%;
	}
	
.box_content p
	{
	font-size: 9pt;
	line-height: 115%;
	}

.box_content a
	{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	display: block;
	}
	
/* --------------------- */


/* MENU HEADER */
.menu_header_endpoint
	{
	width: 6px;
	height: 30px;
	background-repeat: no-repeat;
	float: left;
	}
	
.menu_header
	{
	height: 23px;
	padding: 7px 5px 0 5px;
	background-image: url("../img/menu_header_midle.png");
	background-repeat: repeat-x;
	float: left;
	}
	
/* NEXT */
	
.textove_pole
	{
	font-size: 8pt;
	border: none;
	background-color: lightgray;
	margin: 0 0 4px 5px;
	}

/* BUTTON */
.button
	{
	margin: 1px 0 0 0;
	float: left;
	}
		
.button_endpoint
	{
	width: 6px;
	height: 30px;	
	float: left;
	}
	

	
.button_midle_text
	{
	font-size: 10pt;
	font-weight: bold;
	margin: 0 0 0 0;
	}
/* *************** */	

.menu_oddelovac
	{
	width: 138px;
	height: 1px;
	background-image: url("grafika/oddelovac_menu.png");
	background-repeat: repeat-x;
	}
	
.odrazka_menu
	{
	width: 5px;
	height: 5px;
	background-image: url("grafika/odrazka_menu.png");
	background-position: center center;
	background-repeat: no-repeat;
	padding: 3px 6px 3px 3px;
	float: left;
	}
	
#stranka
	{
	width: 705px;
	min-height: 550px;
	padding: 20px 20px 20px 40px;
	float: left;
	}
	
.aktuality_nadpis
	{
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 5px;
	}
	
.aktuality_odstavec
	{
	font-size: 8pt;
	text-align: justify;
	}
	
hr.ending 
	{
	clear: both;
	height: 0px;
	border: none;
	margin: -1em 0 0 0;
	visibility: hidden;
	}
   
#footer_container
	{
	width: 100%;
	font-size: 8pt;
	float: left;
	}
   
#footer_container a
	{
	font-size: 8pt;
	font-weight: normal;
	text-decoration: none;
	}
	
.footer_line
	{
	float: none;
	width: 100%;
	height: 2px;
	background-image: url('../img/footer_line.png');
	}
	
.plovouci_vlevo
	{
	float: left;
	}
	
.odrazka_modra
	{
	width: 9px;
	height: 9px;
	background-image: url('../img/odrazka_modra.png');
	background-repeat: no-repeat;
	background-position: center;
	margin: 5px;
	}

.odrazka_seda
	{
	width: 9px;
	height: 9px;
	background-image: url('../img/odrazka_seda.png');
	background-repeat: no-repeat;
	float: left;
	}
	

	
#site_links
	{
	text-align: center;
	padding: 20px 10px 20px 10px;
	}

#site_links a
	{
	font-size: 11pt;
	}

	
	
		
	

